@page
@model cloneapp.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	ViewData["Title"] = "Home page";
}

@section Stylesheets{
	<link rel="stylesheet" href="~/css/index.css" />
}

@Html.AntiForgeryToken()

<div class="col-6">
	<div class="row">
		<div class="mt-5" style="position:relative; max-width: 680px;">
			<div id="slide-container" class="d-flex" style="overflow-x: scroll; scrollbar-width: none;">
				<button onclick="getExploreContent()" id="Explore" class="styled-button category-button ms-4">Explore</button>
				@foreach (var category in Model.categories)
				{
					<button onclick="getCategoryContent(this)" id=@category.CategoryName class="styled-button category-button ms-4">@category.CategoryName</button>
				}
			</div>
			<button class="styled-button slide-button slide-button-p" onclick="prevButtonOnClick()">
				<i class="fa-solid fa-chevron-left"></i>
			</button>
			<button class="styled-button slide-button slide-button-n" onclick="nextButtonOnClick()">
				<i class="fa-solid fa-chevron-right"></i>
			</button>
		</div>
	</div>

	<div class="row">
		<div id="content-container" class="mt-5">
			@foreach (var item in Model.articleProps)
			{
				<div class="mt-4 rounded pb-2" style="box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);">
					<div class="d-flex">
						<img class="mt-4 ms-2" style="width:200px; height:150px;" />
						<div class="wdt-max-400 ms-3">
							<a class="dark-link ms-3" href=@Model.ArticleLink(item.ArticleId)>
								<h3 class="m-0">@item.Title</h3>
							</a>
							<p class="overflow-hdn dots mt-2">
								ABCDEFASDFASDFASDFASERFIOAJSDİLKFAEİROFIASDLKCNAİEORADLFVNADSŞLKNMVZEOĞİDRIANDŞLFKVNAŞDSJFGA
								SDFİALKSFNDİALERFAODFNİVAEİORUADFLJKVN
							</p>
						</div>
					</div>
					<div class="d-flex flex-row-reverse me-3">
						<span class="">written by: @item.UserName</span>
						<span class="me-3">@item.Category</span>
					</div>
				</div>
			}
		</div>
	</div>
</div>

<script>
	function getLastArticleId(){
		return '@Model.lastArticleId';
	}
</script>

@section Scripts {
	<script src="~/js/index/SlideContainer.js"></script>
	<script src="~/js/index/ScrollEnd.js"></script>
	<script src="~/js/index/ArticleCard.js"></script>
	<script src="~/js/index/GetContent.js"></script>
}
